{
  "addons": {
    "lee-su-threads-direct@meetandy.ai": {
      "updates": [
        {
          "version": "VERSION_PLACEHOLDER",
          "update_link": "https://github.com/meettomorrow/lee-su-threads/releases/download/vVERSION_PLACEHOLDER/lee-su-threads-firefox-vVERSION_PLACEHOLDER-direct-install.xpi"
        }
      ]
    }
  }
}
